@import url('//fonts.googleapis.com/css?family=Ubuntu+Mono');

html, body {
	background: #333;
	font-size: 16px;
	color: #FFF;
	width: 100%; height: 100%; 
	margin: 0; padding: 0;
	overflow: hidden;
}

.layout {
	display: flex;
	flex-direction: column;
	width: 100%; height: 100%;
	.top {
		flex-basis: 50px;
		background: #222;
		font-size: 20px; 
		display: flex;
		flex-direction: row;

		b {
			flex: 1;
			padding-left: 20px;
			line-height: 50px;
			font-family: 'Ubuntu Mono', monospace;
		}

		span {
			flex: 1;
			text-align: right;
			line-height: 50px;
			color: #555;
			padding-right: 20px;
			font-family: 'Ubuntu Mono', monospace;
		}
	}

	.bottom {
		flex: 1;
		display: flex;
		flex-direction: row;

		.left {
			background: #383838;
			flex: 1;
			position: relative;

			#code {
				margin: 0; padding: 0;
				font-size: 14px;
				margin: 0; position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
			}
		}

		.right {
			flex: 1;
			padding: 20px;
			font-family: 'Ubuntu Mono', monospace;
			
			p {
				margin-top: 0;
			}

			.ide {
				color: #555;
			}

			.msg {
				color: #FFC107;
			}

      .msg-err {
        color: #F44336; 
      }
		}
	}
}
